.changeBackgroundColor {
    background-color: lightcoral;
}
.search-div{
    padding-bottom: 2rem;
}
.ngclass{
    color:blue
}

.one {
    color: green;
}   
.two{
    background-color: coral;
}
.c1{
    color: brown;
}

