<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="padding: 0.5rem">
        <h1 class="Web" style="margin-right: 2rem">Web</h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              style="padding-left: 5rem"
              aria-current="page"
              href="#"
              routerLinkActive="active"
              routerLink=""
            >
              <h4 class="Web" routerLinkActive="active">Home</h4>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLinkActive="active"
              href="#"
              routerLink="link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <h4 class="Web">Link</h4>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="about"
            >
              <h4 class="Web">Form</h4>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLinkActive="active"
              routerLink="practise"
            >
              <h4 class="Web">Practise</h4>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLinkActive="active"
              routerLink="rxjs"
            >
              <h4 class="Web">RxJs</h4>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLinkActive="active"
              routerLink="devextreme"
            >
              <h4 class="Web">DevExtreme</h4>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLinkActive="active"
              routerLink="restaurant/res"
            >
              <h4 class="Web">Resturant</h4>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLinkActive="active"
              routerLink="RxjsPipe"
            >
              <h4 class="Web">RxjsOpertors</h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div class="maindiv">
    <app-newone [parentData]="data" [xyz]="parentFunction"></app-newone>
    <button (click)="inparent()">Parent</button>
    <h2 style="margin-left: 2rem">{{ name }}</h2>
  </div> -->
  <!-- <app-rx-js [parentData]="count">
    <p #Component >paragraph values</p>
    <p #Component >paragraph values</p>
  </app-rx-js> -->
</div>
<br />
<!-- <button nz-button nzType="primary">Primary</button> -->
<!-- <h3 routerLink="services/10" style="cursor: pointer">services 1</h3>
<h3 routerLink="services/20" style="cursor: pointer">services 2</h3>
<h3 routerLink="services/30" style="cursor: pointer">services 3</h3>  -->
<h1 *ngIf="userAdded">Show some data</h1>
<router-outlet></router-outlet>
